/*body {
    background-color: snow;
}
.alert {
    background-color: gold;  border: 3px dotted seagreen; text-align: left;
}
.admin-alert {
    background-color: darkturquoise;  border: 3px dotted seagreen; text-align: left;
}
.container {
    border: 3px solid #808080; color: royalblue;
}
.one {
    border: 2px solid #ff0000; text-align: center;
}
.two {
    border: 2px solid #ffff00; text-align: center;
}
.three {
    border: 2px solid green; text-align: center;
}
.news {
    background-color: #f0e9df;
}
.admin {
    background-color: seashell;
}
.log {
    background-color: #f2dede;
}
*/
.lead {
    text-align: center;
}